*{
    font-family: Ubuntu;
}

a:hover {
color: gray;
}
h5:hover {
color: blue !important;
}
.para:hover{
    color: blue;  
}
.carousel .carousel-item {
width:500px !important;}
.modal{
    width: 800px !important;
    margin-top: 60px !important;
}
.icons{padding: 15px !important;}

#book{
    width: 420px !important;
    height: 600px !important;
}
form{
    padding: 20px;
}
hr{
    width: 100% !important;
}
#bod{
    margin-top: 30px;
}
ul.indicators{
    display: none !important;
}
.move{
    background-color:  transparent !important;
}
footer{
    height: 300px !important;
}